<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Advancefilter.css">

</head>
<body>
    <nav>
        <div class="menu">
          <div class="logo">
            <a href="#">CropRecommendation <span class="highlight">System</span></a>
          </div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="file:///C:/Users/deepe/OneDrive/Desktop/Crop%20production/Login%20Page/login.html">Login</a></li>
            <li><a href="file:///C:/Users/deepe/OneDrive/Desktop/Crop%20production/Login%20Page/signup.html">Signup</a></li>
          </ul>
        </div>
      </nav>
      <div class="img"></div>
      <div class="center">
        <form>
            <h1 class="header">Advance Filter</h1>
        <div class="title">Potassium</div><br>
        <input type="number" name="Potassium" id="Potassium" class="Potassium">
        <p>
            <div class="title">Nitrogen</div><br>
            <input type="number" name="first" id="first" class="nitro"> 
            </p> 
            <p>
                <div class="title">Phosphoures</div><br>
                <input type="number" name="first" id="first" class="nitro"> 
                </p> 
                <p>
                    <div class="title">PH</div><br>
                    <input type="number" name="first" id="first" class="nitro"> 
                    </p> 
                    <p>
                        <div class="title">Humidity</div><br>
                        <input type="number" name="first" id="first" class="nitro"> 
                        </p> 
                        <p>
                            <div class="title">Rain</div><br>
                            <input type="number" name="first" id="first" class="nitro"> 
                            </p> 
                            <button class="button">Submit</button>
        
        <div class="btns">
          
        </div>
      </div>
    </form>
    
    
    
</body>
</html>
