<html>
<head>
    <title> Transparent Login Form Design </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css'%}">   
</head>
    <body>
    <div class="login-box">
    <img src="/static/avatar.png" class="avatar">
        <h1>Login Here</h1>
            <form method="post">
            {%csrf_token%}
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="submit" value="Login">
            <a href="#">Forget Password</a>    
            </form>
        
        
        </div>
    
    </body>
</html>
