<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Custom Select Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'Suitedcrops.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  </head>
  <body>
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#">CropRecommendation <span class="highlight">System</span></a>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="file:///C:/Users/deepe/OneDrive/Desktop/Crop%20production/Login%20Page/login.html">Login</a></li>
          <li><a href="file:///C:/Users/deepe/OneDrive/Desktop/Crop%20production/Login%20Page/signup.html">Signup</a></li>
        </ul>
      </div>
    </nav>
    
        
      </div>
    </div>
    <form>
    <div class="wrapper">
      <div class="select-btn">
        <span class="highlight">Select City</span>
        <i class="uil uil-angle-down"></i>
      </div>
      <div class="content">
        <div class="search">
          <i class="uil uil-search"></i>
          <input spellcheck="false" type="text" placeholder="Search">
        </div>
        <ul class="options"></ul>
      </div>
    </div>
  


    <div class="wrapper1">
      <div class="select-btn1">
        <span class="highlight1">Select State</span>
        <i class="uil uil-angle-down1"></i>
      </div>
      <div class="content1">
        <div class="search1">
          <i class="uil uil-search1"></i>
          <input spellcheck="false" type="text" placeholder="Search">
        </div>
        <ul class="options1"></ul>
      </div>
    </div>
    <button class="but">Submit</button>
  </form>
    <a href="/afilter">
      <button class="butt">Advancefilter</button>
    </a>
    


        
  </body>
</html>