*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  ::selection{
    color: #000;
    background: #fff;
  }
  nav{
    position: fixed;
    background: white;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
  }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu .logo a{
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-weight: 600;
  }
  .menu ul{
    display: inline-flex;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: greenyellow;
    color: black;
  }
  .img{
    background: url('istockphoto-1264890031-612x612.jpg')no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .title{
    color: greenyellow;
    font-size: 30px;
    font-weight: 500 ;
    text-align: center;
  }
  .sub_title{
    color: greenyellow;
    font-size: 30px;
    font-weight: 500 ;
    text-align: left;
  }
  .center .btns{
    margin-top: 20px;
  }
  .center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  .center .btns button:first-child{
    color: #fff;
    background: rgba(89, 255, 47, 0.807);
  }
  .btns button:first-child:hover{
    background: greenyellow;
    color: white;
  }
  .center .btns button:last-child{
    background: rgba(89, 255, 47, 0.807);
    color: white;
  }
  #button{
    background: rgba(89, 255, 47, 0.807);
    color: white;
  }
  .highlight{
    color: rgb(50, 205, 50);
  }
  h1{
    text-align: left;
    font-size: 50px;
    color: aquamarine;
  }
  .button{
    height: 20px;
    width: 100px;
  }
  
  
